@page "/counter"
@rendermode InteractiveServer

<PageTitle>About</PageTitle>

<h1>About SunTurtle Sunglasses</h1>
<p>
    SunTurtle Sunglasses uses the optics concept of "polarization" to reduce glare from bright surfaces. These glasses, like other polairzed glasses, uses a polarized filter for light that causes glare.
</p>
<p>
    Polarization in light is simply the relationship between the direction of light and the direction the light waves will mostly travel through.
    For example, light hitting a horizontal surface will travel mostly in one direction, and then into your eyes. 
    A polarizing filter will choose one direction, vertical or horizontal, and block out any light that is not oriented with that direction.
    This is how glare is reduced in polarized sunglasses.
</p>
@code {


}